<header>
    <div class="logo">
        <a href="#">LOGO</a>
    </div>
    <div class="auth">
        <div id="login">
            <a href="#">login</a>
        </div>
        <div id="sign-up">
            <a href="#">sign up</a>
        </div>
        <div id="logout">
            <a href="#">logout</a>
        </div>
    </div>
</header>