{{#each recipe.ingredients}}
<li>
    <p>
        <span class="qty">{{qty}}</span>
        <span class="measurement">{{measurement}}</span>
        <span class="ingredient">{{name}}</span>
    </p>
</li>
{{/each}}