<form class="login">
  <div class="">
    <label for="login-email">Email</label>
    <input type="email" id="login-email-input" placeholder="Username">
  </div>
  <div class="">
    <label for="login-password">Password</label>
    <input type="password" id="login-password-input" placeholder="Password">
  </div>
  <button type="submit" class="button">Login</button>
</form>