<form class="login">
  <div class="">
    <label for="login-username">Username</label>
    <input type="email" id="login-username-input" placeholder="Username">
  </div>
  <div class="">
    <label for="login-password">Password</label>
    <input type="password" id="login-password-input" placeholder="Password">
  </div>
  <button type="submit" class="button">Login</button>
</form>