<form class="signup">
  <div class="">
    <label for="signup-email">Email</label>
    <input type="email" id="signup-email-input" placeholder="Email">
  </div>
  <div class="">
    <label for="signup-password">Password</label>
    <input type="password" id="signup-password-input" placeholder="Password">
  </div>
  <button type="submit" class="button">Sign Up</button>
</form>