<div class="hero-head">
    <nav class="navbar">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-logo" href="/">
                    <img src="/img/cookbook_logo.png" alt="Cookbook Logo">
                </a>
                <span class="navbar-burger burger" data-target="navbar-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </div>
            <div id="navbar-menu" class="navbar-menu">
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-peach" href="/profile">
                                <strong>Profile</strong>
                            </a>
                            <a class="button is-light" href="/logout">
                                Logout
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>

<script type="text/javascript">
    $(".navbar-burger").click(function () {
        $(".navbar-burger").toggleClass("is-active");
        $(".navbar-menu").toggleClass("is-active");
    });
</script>