<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand p-l2">
        <a class="navbar-logo" href="/">
            <img src="/img/cookbook_logo.png" alt="Cookbook Logo">
        </a>
    </div>
    <div class="navbar-end p-r2">
        <div class="navbar-item">
            <div class="buttons">
                <a href="/profile" class="navbar-item">Profile</a>
                <a href="/logout" class="navbar-item">Logout</a>
            </div>
        </div>
    </div>
</nav>