<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
  <link rel="stylesheet" href="/css/styles.css" type="text/css" />
  <title>A Recipe Project</title>

</head>

<body class="main">

  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img
          src="https://trellis.co/wp-content/uploads/2015/09/hidden_meanings_facts_within_famous_logos_cover_image.jpg"
          alt="A brand">
      </a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a href="/logout">
            Logout
          </a>
        </div>
      </div>
    </div>
  </nav>

  {{{ body }}}

  <footer class="footer">
    <div class="content has-text-centered">
      <p><strong>Recipe Project</strong> was created by
        <a href="https://github.com/shiftymitch" target="_blank">Mitch Henderson</a>,
        <a href="https://github.com/nvalline" target="_blank">Nate Valline</a>, and
        <a href="https://github.com/nabeek" target="_blank">Nick Beekhuizen</a>
        <br>
        <br>
        <small>Copyright &copy; <span id="copyright-year"></span></small>
    </div>
  </footer>

  <script src="https://kit.fontawesome.com/bc86d87b8d.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://momentjs.com/downloads/moment.min.js"></script>
  <script src="/js/script.js"></script>
  <script src="/js/index.js"></script>
  <script src="/js/add-recipe.js"></script>
  <script src="/js/profile.js"></script>
</body>

</html>