<div class="container">
  <div class="columns is-centered has-text-centered is-vcentered">

    {{!-- image --}}
    <div class="column is-6">
      <img id="chef-add-recipe" src="/img/chef-add-recipe.png" alt="">
    </div>

    {{!-- form --}}
    <div id="add-recipe-form" class="column is-6">
      <h1>Enter Your Complete Recipe Below.</h1>
      <br>
      <div class="field">
        <label class="label">Recipe Name</label>
        <div class="control">
          <input id="recipe-name" class="input" type="text" placeholder="Name..." value="test">
        </div>
      </div>
      
      <div class="field">
        <label class="label">Recipe Description</label>
        <div class="control">
          <textarea id="recipe-description" class="textarea" type="text" placeholder="Enter a short description...">Test</textarea>
        </div>
      </div>
      
      <label class="label">Ingredients</label>
      <div class="ingredient-rows">
        <div class="field columns is-grouped">
          <div class="control column">
            <label class="label is-small">Qty</label>
            <input id="ing-qty-0" class="input" type="input" value="1">
          </div>
          <div class="control column">
            <label class="label is-small">Measurement</label>
            <div class="select">
              <select id="ing-measurement-0">
                <option>cups</option>
                <option>lbs</option>
                <option>oz</option>
                <option>pinch</option>
                <option>pints</option>
                <option>quarts</option>
                <option>tsp</option>
                <option>tbsp</option>
              </select>
            </div>
          </div>
          <div class="level control column">
            <label  class="label is-small">Ingredient Name</label>
            <input id="ing-name-0" class="level-item input" type="input" value="test">
          </div>
          <button class="delete level-item">Delete</button>
        </div>
      </div>

      <div id="new-ingredient" class="has-text-right">
        <a id="add-ingredient">Add Ingredient</a>
      </div>
      
      <div class="field">
        <label class="label">Instructions</label>
        <div class="control">
          <textarea id="instructions" class="textarea" placeholder="Step by step instructions...">Test</textarea>
        </div>
      </div>

      
      {{!-- Image Upload --}}

      {{!-- <div class="field">
      <br>

        <label class="label">Recipe Image</label>

        <div id="image-upload" class="file has-name">
          <label class="file-label">
            <input class="file-input" type="file" name="resume">
            <span class="file-cta">
              <span class="file-icon">
                <i class="fas fa-upload"></i>
              </span>
              <span class="file-label">
                Upload
              </span>
            </span>
            <span class="file-name">
              No file uploaded
            </span>
          </label>
          
          <script>
            const fileInput = document.querySelector('#image-upload input[type=file]');
              fileInput.onchange = () => {
                if (fileInput.files.length > 0) {
                  const fileName = document.querySelector('#image-upload .file-name');
                  fileName.textContent = fileInput.files[0].name;
                }
              }
          </script>
        </div>
      </div> --}}

      <div class="field">
        <div class="control level-right">
          <button id="recipe-submit" class="button is-link">Submit Recipe</button>
        </div>
      </div>

    </div>
  </div>
</div>