<div class="hero-body">
  <div class="container has-text-centered">
    <div class="columns is-vcentered">
      <div class="column is-6">
        <figure>
          <img src="#" alt="">
        </figure>
      </div>
      <div class="column is-6">
        <h1>Hello world!</h1>
        {{> signup-block}}
      </div>
    </div>
  </div>
</div>