{{> header-block}}

<section class="hero is-fullheight">
  <div class="hero-body index-padding">
    <div class="container">
      <div class="columns is-centered has-text-centered">
        <div class="column is-6">
          <img src="./img/spoons-bg-left.png" alt="Large wooden spoons">
        </div>
        <div class="create column is-5 is-offset-1">
          <h2 class="is-size-2">Create a Free Account to Access Thousands of Recipes</h2>
          <button class="button is-peach is-large m-t2" onclick="location.href='/signup'" type="button">Create an
            Account</button>
          <p class="help m-t1">Already have an account? <a href="/login">Login</a> now</p>
        </div>
      </div>

      <div class="column has-text-centered">
        <p class="is-size-3 m-t3">Check out these two recipes!</p>
      </div>

      <div class="columns is-centered m-t1">
        <div class="column is-6">
          <div class="" id="random-box-one">
            <div class="level">
              <a class="is-size-3 spoon-recipe-name" id="random-recipe-one-name"></a>
              <img id="random-recipe-one-img" src="" alt="" width="185" height="123">
            </div>
            <br>
            <div class="content">
              <p class="is-size-5" id="random-recipe-one-summary"></p>
            </div>
          </div>
        </div>

        <div class="column is-6">
          <div class="" id="random-box-two">
            <div class="level">
              <a class="is-size-3 spoon-recipe-name" id="random-recipe-two-name"></a>
              <img id="random-recipe-two-img" src="" alt="" width="185" height="123">
            </div>
            <br>
            <div class="content">
              <p class="is-size-5" id="random-recipe-two-summary"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  $(document).ready(function () {

    getRandomRecipe()

    $(".spoon-recipe-name").click(function () {
      $.post("/api/spoon-recipe/:id", {
        spoonID: $(this).attr("data-id")
      })
    })

    // Get random recipes from 3rd party API and use data for homepage
    function getRandomRecipe() {
      $.get("/api/random-recipe").then(function (data) {
        $("#random-recipe-one-name").text(data.recipes[0].title);

        $("#random-recipe-one-name").attr({
          href: `/spoon-recipe/${data.recipes[0].id}`,
          "data-id": data.recipes[0].id,
          target: "_blank"
        });

        $("#random-recipe-one-img").attr({
          src: data.recipes[0].image,
          alt: data.recipes[0].title
        });

        $("#random-recipe-one-summary").html(data.recipes[0].summary.replace(/^(.{300}[^\s]*).*/, "$1") + "...");

        $("#random-recipe-two-name").text(data.recipes[1].title);

        $("#random-recipe-two-name").attr({
          href: `/spoon-recipe/${data.recipes[1].id}`,
          "data-id": data.recipes[1].id,
          target: "_blank"
        });

        $("#random-recipe-two-img").attr({
          src: data.recipes[1].image,
          alt: data.recipes[1].title
        });

        $("#random-recipe-two-summary").html(data.recipes[1].summary.replace(/^(.{300}[^\s]*).*/, "$1") + "...");
      }).then(() => {
        $("#random-box-one").addClass("box");

        $("#random-box-two").addClass("box");
      });

    };

  });
</script>