{{!-- Example code --}}

{{!-- <div class="columns is-centered mt-4">
  <div class="column">
    <h4 class="title is-4 has-text-centered ma">Add a Recipe</h4>
  </div>
</div>

<div class="columns is-centered has-text-centered">
  <div class="column is-3">
    <form class="create-recipe field is-grouped">
      <p class="control is-expanded ma">
        <input class="input" type="text" id="new-recipe" name="name">
      </p>
      <div class="control has-text-centered">
        <button class="button" id="new-recipe" type="submit">
        </button>
      </div>
    </form>
  </div>
</div> --}}