{{> header-block}}

<section class="hero is-fullheight">
  <div class="hero-body login-padding">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-two-fifths">
          <figure>
            <img src="./img/chef-auth.jpg" alt="A chef cooking">
          </figure>
        </div>
        <div class="column is-one-fifth"></div>
        <div class="column is-two-fifths">
          <p class="title">Login</p>
          <form class="login">
            <div class="field">
              <label class="label is-size-5" for="login-email">email</label>
              <div class="control has-icons-left">
                <input class="input" id="login-email-input" type="email" placeholder="">
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label class="label is-size-5" for="login-password">password</label>
              <div class="control has-icons-left">
                <input class="input" id="login-password-input" type="password" placeholder="">
                <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <p class="control">
                <button class="button is-peach" type="submit">
                  Submit
                </button>
              </p>
            </div>
          </form>
          <p class="help">or, <a href="/signup">signup</a></p>
        </div>
      </div>
    </div>
  </div>
</section>