<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered has-text-centered">
        <div class="column is-5 m-r3">
          <img src="./img/spoons-bg-left.png" alt="Large wooden spoons">
        </div>
        <div class="column is-5">
          <div class="level">
            <div class="level-item">
              <p id="srch-comm-label" class="is-size-5 m-r1">Search Community Recipes</p>
            </div>
            <div class="level-item">
              <form class="level m-t1">
                <input type="text" name="add-search" id="add-search" class="input">
                <button class="button">
                  <img src="./img/fe_search.svg" alt="search icon">
                </button>
              </form>
            </div>
          </div>
          <div class="m-t2">
            <h3 class="is-size-5">Welcome <span class="users-name"></span></h3>
            <h2 class="is-size-4">Add A Recipe To The Community</h2>
            <button class="button is-peach is-medium m-t1" onclick="location.href='/signup'" type="button">Click To
              Add</button>
          </div>
        </div>
      </div>
      <div class="column">
        <p class="is-size-4">Your Shared Recipes</p>
      </div>

      {{!-- User Recipes List --}}
      <div class="is-centered">
        <div class="box">
          {{!-- User Recipe Block --}}
          <article class="media">
            <figure class="media-left">
              <p class="image is-128x128">
                <img src="https://bulma.io/images/placeholders/128x128.png" alt="placeholder">
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <h3 class="is-size-5">Recipe Name</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In adipisci voluptate, voluptatum iste
                  asperiores quas impedit eveniet! Similique, recusandae facere.</p>
              </div>
            </div>
            <div class="media-right">
              <p class="is-size-6">Date Added</p>
            </div>
          </article>
          {{!-- User Recipe Block --}}
          <article class="media">
            <figure class="media-left">
              <p class="image is-128x128">
                <img src="https://bulma.io/images/placeholders/128x128.png" alt="placeholder">
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <h3 class="is-size-5">Recipe Name</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In adipisci voluptate, voluptatum iste
                  asperiores quas impedit eveniet! Similique, recusandae facere.</p>
              </div>
            </div>
            <div class="media-right">
              <p class="is-size-6">Date Added</p>
            </div>
          </article>
          {{!-- User Recipe Block --}}
          <article class="media">
            <figure class="media-left">
              <p class="image is-128x128">
                <img src="https://bulma.io/images/placeholders/128x128.png" alt="placeholder">
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <h3 class="is-size-5">Recipe Name</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In adipisci voluptate, voluptatum iste
                  asperiores quas impedit eveniet! Similique, recusandae facere.</p>
              </div>
            </div>
            <div class="media-right">
              <p class="is-size-6">Date Added</p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>