{{> user-header-block}}

<section class="hero is-fullheight">
  <div class="hero-body index-padding">
    <div class="container">
      <div class="columns is-centered has-text-centered">
        <div class="column is-5 m-r3">
          <img src="./img/spoons-bg-left.png" alt="Large wooden spoons">
        </div>
        <div class="column is-5">
          <div class="level">
            <div class="level-item">
              <p id="srch-comm-label" class="is-size-5 m-r1">Search Community Recipes</p>
            </div>
            <div class="level-item">
              <form class="level m-t1">
                <input type="text" name="db-search" id="db-search" class="input">
                <button class="button" id="db-search-btn">
                  <img src="./img/fe_search.svg" alt="search icon">
                </button>
              </form>
            </div>
          </div>
          <div class="m-t2">
            <h3 class="is-size-5">Welcome <span class="users-name"></span></h3>
            <h2 class="is-size-4">Add Your Favorite Recipes To The Community</h2>
            <button class="button is-peach is-medium m-t1" onclick="location.href='/add-recipe'" type="button">Click To
              Add</button>
          </div>
        </div>
      </div>
      <div class="column">
        <p class="is-size-4">Your Shared Recipes</p>
      </div>

      {{!-- User Recipes List --}}
      <div class="is-centered">
        <div class="box">
          {{!-- User Recipe Block --}}
          {{> userRecipe-block}}
        </div>
      </div>
    </div>
  </div>
  {{!-- db search script --}}
  <script>
    const dbSearchBtn = document.getElementById("db-search-btn");
    const dbSearchInput = document.getElementById("db-search");

    dbSearchBtn.addEventListener("click", (event) => {
      event.preventDefault();
      const dbSearchValue = dbSearchInput.value.trim();
      console.log(dbSearchValue)

      fetch(`/api/search-results/${dbSearchValue}`)
        .then(() => {
          window.location.replace(`/search-results/${dbSearchValue}`);
        })
        .catch(err => console.log(err))
    });
  </script>
</section>