<section class="hero is-fullheight">
    <div class="hero-body index-padding">
        <div class="container">
            <div class="columns is-centered is-10">
                <div class="column is-6 is-offset-1" id="recipe-content">
                    <h2 id="recipe-page-name" class="is-size-3">Recipe Name</h2>
                    <div id="recipe-page-description">
                        <br>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, dicta pariatur molestiae error
                            magni
                            tempora eveniet eaque veritatis omnis tenetur maiores sapiente illo odio dolores illum vero
                            perferendis incidunt dignissimos quis possimus. Nulla dolores qui voluptatibus
                            necessitatibus
                            quae,
                            fugit dolor!</p>
                    </div>
                </div>
                <div class="column">
                    <img src="../img/spoons-sm-right.png" alt="spoons picture">
                </div>
            </div>
            <div class="columns is-centered is-10">
                <div class="column is-2">
                    <img id="recipe-page-picture" src="" alt="">
                    <p class="is-size-5">Ingredients</p>
                    <ul id="recipe-page-ingredient-list">
                        <li>
                            <p>
                                <span class="qty">2</span>
                                <span class="measurement">cups</span>
                                <span class="ingredient">Water</span>
                            </p>
                        </li>
                        <li>
                            <p>
                                <span class="qty">1/4</span>
                                <span class="measurement">tsp</span>
                                <span class="ingredient">Salt</span>
                            </p>
                        </li>
                        <li>
                            <p>
                                <span class="qty">3/4</span>
                                <span class="measurement">tbsp</span>
                                <span class="ingredient">Pepper</span>
                            </p>
                        </li>
                        <li>
                            <p>
                                <span class="qty">1</span>
                                <span class="measurement">cups</span>
                                <span class="ingredient">Flour</span>
                            </p>
                        </li>
                    </ul>
                    <p id="date-line">Added: <span id="date-added">06/21/2019</span></p>
                </div>
                <div class="column is-8">
                    <p id="recipe-page-instructions" class="is-size-5">Instructions</p>
                    <p>
                        1. Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quis dolore error dolor
                        aperiam aspernatur eveniet doloribus, iusto cupiditate dolorem!
                    </p>
                    <p>
                        2. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, quidem molestiae. Impedit et
                        quo
                        dolor nam, deserunt perferendis dolorum minus.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>