<div class="container">
    <div class="columns is-centered">
        <div class="column is-7 is-offset-1">
            <h2>Search Results</h2>
            {{!-- recipe result block --}}
            <article class="media">
                <figure class="media-left">
                    <p class="image is-128x128">
                        <img src="https://bulma.io/images/placeholders/128x128.png" alt="placeholder" width="128px">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>Recipe Name</strong>
                            <br>
                            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam aut tempora maxime
                                quibusdam eum ea repellat veniam dolorum reprehenderit fugiat.</span>
                        </p>
                        <p>
                            Date Added
                        </p>
                    </div>
                </div>
            </article>
            {{!-- recipe result block --}}
            <article class="media">
                <figure class="media-left">
                    <p class="image is-128x128">
                        <img src="https://bulma.io/images/placeholders/128x128.png" alt="placeholder" width="128px">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>Recipe Name</strong>
                            <br>
                            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam aut tempora maxime
                                quibusdam eum ea repellat veniam dolorum reprehenderit fugiat.</span>
                        </p>
                        <p>
                            Date Added
                        </p>
                    </div>
                </div>
            </article>
            {{!-- recipe result block --}}
            <article class="media">
                <figure class="media-left">
                    <p class="image is-128x128">
                        <img src="https://bulma.io/images/placeholders/128x128.png" alt="placeholder" width="128px">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>Recipe Name</strong>
                            <br>
                            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam aut tempora maxime
                                quibusdam eum ea repellat veniam dolorum reprehenderit fugiat.</span>
                        </p>
                        <p>
                            Date Added
                        </p>
                    </div>
                </div>
            </article>
        </div>
        <div class="column">
            <img src="./img/spoons-sm-right.png" alt="spoons picture">
            <div class="search-options">
                <h3>Search For Additional Recipes Here</h3>
                <form>
                    <input type="text" name="add-search" id="add-search">
                    <button>
                        <img src="./img/fe_search.svg" alt="search icon">
                    </button>
                </form>
                <h3>Add A Recipe To The Community</h3>
                <button>Click To Add</button>
            </div>
        </div>
    </div>
</div>