<div class="container">
    <div class="columns is-centered">
        <div class="column is-8">
            <h2>Search Results</h2>
            <ul>
                <li>
                    <h3>Recipe Name</h3>
                    <p>Description: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis eligendi dolores
                        non accusamus sapiente, libero eos suscipit deserunt! Facere, impedit!</p>
                    <p>Date Added</p>
                </li>
                <li>
                    <h3>Recipe Name</h3>
                    <p>Description: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis eligendi dolores
                        non accusamus sapiente, libero eos suscipit deserunt! Facere, impedit!</p>
                    <p>Date Added</p>
                </li>
                <li>
                    <h3>Recipe Name</h3>
                    <p>Description: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis eligendi dolores
                        non accusamus sapiente, libero eos suscipit deserunt! Facere, impedit!</p>
                    <p>Date Added</p>
                </li>
            </ul>
        </div>
        <div class="column">
            <img src="./img/spoons-sm-right.png" alt="spoons picture">
            <div class="search-options">
                <h3>Search For Additional Recipes Here</h3>
                <form>
                    <input type="text" name="add-search" id="add-search">
                    <button>
                        <img src="./img/fe_search.svg" alt="search icon">
                    </button>
                </form>
                <h3>Add A Recipe To The Community</h3>
                <button>Click To Add</button>
            </div>
        </div>
    </div>
</div>