<div class="hero-body">
  <div class="container has-text-centered">
    <div class="columns is-vcentered">
      <div class="column is-6">
        <figure>
          <img src="#" alt="">
        </figure>
      </div>
      <div class="column is-6">
        {{login-block}}
        {{!-- Need to add conditional to switch between login and signup --}}
      </div>
    </div>
  </div>
</div>