body {
  color: #18335e;
}

/* Header CSS */
.navbar {
  background-color: #ececec;
  height: 10vh;
}

/* Search Results Page */
.add-search {
  height: 30px;
  width: 60%;
}

.add-search-btn {
  height: 30px;
}

/* Recipe Page CSS */
#recipe-content {
  margin-top: 40px;
  margin-right: 40px;
}

/* Footer CSS */
.footer {
  background-color: #ececec;
  margin: auto;
  padding: 2rem 1.5rem 2rem;
  width: 100%;
}

.is-peach {
  background-color: #EFA35C;
  border-color: transparent;
  color: #18335E;
}

.box {
  box-shadow: none;
  border:1px solid #EFA35C;
}

.m-t1 {
  margin-top: 1em;
}

.m-t3 {
  margin-top: 3em;
}

.m-t2 {
  margin-top: 2em;
}

.m-t4 {
  margin-top: 4em;
}

.m-b1 {
  margin-bottom: 1em;
}

.m-b3 {
  margin-bottom: 3em;
}

.m-b2 {
  margin-bottom: 2em;
}

.m-b4 {
  margin-bottom: 4em;
}

.button.is-link {
  background-color: #EFA35C;
}

.button.is-link:hover {
  background-color: #cc7625;
}

.label {
  text-align: left;
}